Package: iptrules
Version: 0.4-alpha
Section: admin
Priority: optional
Architecture: all
Depends: iptables
Installed-Size: 0
Maintainer: Robert McLeod <robert.mcleod@itpeople.co.nz>
Description: Allows configuring iptables in the style of apache2 on debian
 iptrules allows you to use preconfigured rulefiles and custom rulefiles
 to configure iptables easily.
 It is inspired by the debian way of managing apache2 config files, using
 an enabled an available folder and symbolically linking between the two
 to generate a current configuration.
 The difference in the case of iptrules however is that it must generate
 a rules file instead of just specifying the enabled folder as an include.

